<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllType</servlet-name>
        <servlet-class>controller.AllType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductIDTypeServlet</servlet-name>
        <servlet-class>controller.ProductIDTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductServlet</servlet-name>
        <servlet-class>controller.AllProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeproductServlet</servlet-name>
        <servlet-class>controller.TypeproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>controller.ProductSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllType</servlet-name>
        <url-pattern>/AllType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductIDTypeServlet</servlet-name>
        <url-pattern>/ProductIDTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductServlet</servlet-name>
        <url-pattern>/AllProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeproductServlet</servlet-name>
        <url-pattern>/TypeproductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/ProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
