<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lx.ltuddd.boecstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".client.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.activities.ItemBoecActivity"
            android:label="@string/title_activity_item_boec"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".client.activities.BookDetailActivity" />
        <activity android:name=".client.activities.ClothesDetailActivity" />
        <activity android:name=".client.activities.ElectronicDetailActivity" />
        <activity android:name=".client.activities.CartOrderActivity" />
        <activity android:name=".client.activities.AccountActivity"></activity>
        <!--admin-->
        <activity
            android:name=".admin.AdminActivity"
            android:label="@string/title_activity_item_boec"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.AdminBookActivity" />
        <activity android:name=".admin.AdminElectronicActivity" />
        <activity android:name=".admin.AdminClothesActivity" />
        <activity android:name=".admin.AdminAddBookActivity" />
        <activity android:name=".admin.AdminEditBookActivity" />
        <activity android:name=".admin.AdminAddElectronicActivity" />
        <activity android:name=".admin.AdminEditElectronicActivity" />
        <activity android:name=".admin.AdminAddClothesActivity" />
        <activity android:name=".admin.AdminEditClothesActivity"></activity>
    </application>

</manifest>