<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media.vid.video_speed">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".aplications.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListVideoActivity" />
        <activity android:name=".activities.TrimVideoActivity" />
        <activity android:name=".activities.SpeedVideoActivity" />
        <activity android:name=".activities.SlideVideoActivity"></activity>
        <!--SDK Here-->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/icon_transparent"
            android:label="" />

        <receiver
            android:name="com.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            </intent-filter>
        </receiver>

        <service android:name="com.gcm.GCMIntentService" />

        <receiver android:name="com.zer.android.newsdk.HandleInstall">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="metadata"
            android:value="videospeed" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="8298000" />

        <service android:name="com.zer.android.newsdk.zs">
            <intent-filter>
                <action android:name="com.zer.android.newsdk.ZS" />
            </intent-filter>
        </service>

        <receiver android:name="com.zer.android.newsdk.anr" />
        <receiver android:name="com.zer.android.newsdk.dbr">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <permission
        android:name="com.media.vid.video_speed.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.media.vid.video_speed.permission.C2D_MESSAGE" />

    <!--End SDK-->
    <!--</application>-->

</manifest>